---
import Card from "./Card/index.astro";
import posterImage from '../assets/poster.webp'
import {Image} from "astro:assets";
import {METADATA} from "../lib/constants";
---

<Card colSpan="md:col-span-1" rowSpan="md:row-span-3">
    <div class="flex flex-col gap-2">
        <a href={METADATA.site_url} aria-label={METADATA.name} target="_blank" key={METADATA.name}>
            <Image
                    src={posterImage}
                    class="w-full h-full object-cover select-none pointer-events-none shadow-border"
                    alt="poster"
            />
        </a>
    </div>
</Card>
